# frontend/backend shared
pandas
numpy
joblib
scikit-learn
matplotlib
plotly

# backend specific
fastapi
uvicorn
python-multipart
pydantic

# frontend specific
streamlit
requests
astroquery
astropy
plotly-express